<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TypeMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Type">
    <id column="typesign" jdbcType="INTEGER" property="typesign" />
    <result column="typename" jdbcType="VARCHAR" property="typename" />
    <result column="typeintro" jdbcType="VARCHAR" property="typeintro" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    typesign, typename, typeintro
  </sql>
  <select id="selectByExample" parameterType="com.pojo.TypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from type
    where typesign = #{typesign,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from type
    where typesign = #{typesign,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.TypeExample">
    delete from type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Type">
    insert into type (typesign, typename, typeintro
      )
    values (#{typesign,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, #{typeintro,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Type">
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typesign != null">
        typesign,
      </if>
      <if test="typename != null">
        typename,
      </if>
      <if test="typeintro != null">
        typeintro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typesign != null">
        #{typesign,jdbcType=INTEGER},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typeintro != null">
        #{typeintro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.TypeExample" resultType="java.lang.Long">
    select count(*) from type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update type
    <set>
      <if test="record.typesign != null">
        typesign = #{record.typesign,jdbcType=INTEGER},
      </if>
      <if test="record.typename != null">
        typename = #{record.typename,jdbcType=VARCHAR},
      </if>
      <if test="record.typeintro != null">
        typeintro = #{record.typeintro,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update type
    set typesign = #{record.typesign,jdbcType=INTEGER},
      typename = #{record.typename,jdbcType=VARCHAR},
      typeintro = #{record.typeintro,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Type">
    update type
    <set>
      <if test="typename != null">
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typeintro != null">
        typeintro = #{typeintro,jdbcType=VARCHAR},
      </if>
    </set>
    where typesign = #{typesign,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Type">
    update type
    set typename = #{typename,jdbcType=VARCHAR},
      typeintro = #{typeintro,jdbcType=VARCHAR}
    where typesign = #{typesign,jdbcType=INTEGER}
  </update>
  
  <select id="selectType" resultType = "com.pojo.Type">
  select * from type where typesign = #{typesign}
  </select>
</mapper>